
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root{


    /* Logo font */
    --sc: 'Silkscreen';

    /* Fonts */
    --Av: 'Avenir';

    /* COLORS */
    --white: #fff;
    --white2: #f0f1f1;
    --purple: #44318D;
    --dblue: #1F2833;
    --black: #222629;
    --lpurple: #E98074;
    --lpurple2: #a5534a;
    --black2: rgb(40, 40, 40);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        var(--dblue) 0%,
        var(--dblue) 50%,
        var(--black) 50%,
        var(--black) 100%
    );
}
.arrow-up{
    position: fixed;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.arrow-up i{
    margin-top: 2rem;
    font-size: 30px;
    color: var(--lpurple);
}
.max-width{
    width: 100%;
    max-width: 900px;
    padding: 0 50px;
    margin: 0 auto;
}

/* Navigation Styling */

nav{
    position: sticky;
    padding: 15px 0;
    height: 70px;
    width: 100%;
    z-index: 999;
}
nav .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .max-width .logo a{
    text-decoration: none;
    color: var(--lpurple);
    font-family: var(--sc), sans-serif;
}
nav .max-width .links{
    display: flex;
}
nav .max-width .links.active{
    top: 0%;
}

nav .max-width .links li{
    list-style: none;
    margin-left: 2em;
}
nav .max-width .links li a{
    display: inline-block;
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}
nav .max-width .links li a::after{
    content: '';
    display: block;
    background-color: var(--purple);
    width: 0;
    height: 2px;
    border-radius: 10px;
    transition: .5s;
}
nav .max-width .links li a:hover::after{
    width: 100%;
}

/***************************************************** 
# Menu Styling 
*****************************************************/
.menu{
    display: none;
    width: 40px;
}
.menu div{
    background-color: var(--purple);
    height: 1.5px;
    border-radius: 10px;
    margin: 5px 0;
    transition: .5s;
    cursor: pointer;
}
.menu .one{
    width: 30px;
}
.menu .two{
    width: 20px;
}
.menu .three{
    width: 10px;
}
.menu:hover div{
    width: 40px;
}

#cancel{
    content: '';
    position: absolute;
    top: 3%;
    right: 33%;
    color: var(--purple);
    font-size: 18px;
    display: none;
}


/* Aside Styling */


aside{
    position: fixed;
    top: 35%;
    left: 0%;
}
aside .max-width{
    display: block;
    justify-content: space-evenly;
    align-items: center;
}
aside .max-width::before{
    position: absolute;
    top: -140px;
    left: 50%;
    content: '';
    background-color: var(--white2);
    width: 1.5px;
    height: 150px;
}
aside .max-width::after{
    position: absolute;
    top: 300px;
    left: 50%;
    content: '';
    background-color: var(--white2);
    width: 1.5px;
    height: 150px;
}
aside .max-width li{
    list-style: none;
    margin-top: 40px;
}
aside .max-width li a{
    font-size: 25px;
    color: var(--white2);
    transition: all .3s ease;
}
aside .max-width li a:hover{
    color: var(--lpurple);
} 



/************************************** 
 # Hero & About Design 
 **************************************/

.hero{
    height: 100vh;
}
.hero .max-width{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.hero .max-width .about{
    width: 100%;
    padding: 0;
}
.hero .max-width .about p{
    color: var(--white2);
    font-size: 25px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.hero .max-width .about .text-1{
    padding-top: 1rem;
    color: var(--white2);
    font-size: 18px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
}
.hero .max-width .about .text-2{
    padding-top: 1rem;
    color: var(--white2);
    font-size: 18px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
}
.hero .max-width .about .h{
    width: 100%;
}
.hero .max-width .about .h h2{
    margin-left: 48px;
    color: var(--lpurple);
    font-size: 45px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.hero .max-width .about .line{
    content: '';
    background-color: var(--purple);
    height: 1px;
    width: 30%;
    margin: 0 auto;
}

/************************************** 
 # Skills Design 
 **************************************/
 .skills{
    height: 100vh;
    padding: 100px 0;
 }
.skills .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
}
.skills .no-1{
    color: var(--purple);
    font-size: 60px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
    margin: 0 5rem;
}
.skills .max-width .left{
    width: 50%;
}
.skills .max-width .left .head-1{
    font-size: 50px;
    margin-left: 10%;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    color: var(--white2);
}
.skills .max-width .left .line{
    content: '';
    background-color: var(--lpurple);
    height: 1px;
    width: 30%;
    margin-top: .5%;
    margin-left: 10%;
}
.skills .max-width .left .text-3{
    color: var(--white2);
    font-size: 20px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 1rem;
}
.skills .max-width .right{
    width: 50%; 
}
.skills .max-width .right ol{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin-left: 2em;
    color: var(--purple);
    font-family: var(--sc), sans-serif;
}
.skills .max-width .right ol li{
    padding: 5% 10%;
    text-align: justify;
}
.skills .max-width .right ol li h5{
    color: var(--white2);
    font-family: var(--sc), sans-serif;
    font-size: 20px;
    padding-top: 1rem;
    font-weight: 400;
}
.skills .max-width .right ol li p{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-top: 2%;
} 

/************************************** 
 # Experience Design 
 **************************************/
 .exp{
    height: 100vh;
    padding: 100px 0;
}
.exp .max-width{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.exp .no-1{
    color: var(--purple);
    font-size: 60px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
    margin: 0 5rem;
}
.exp .max-width .left{
    width: 50%;
}
.exp .max-width .left .head-1{
    font-size: 50px;
    margin-left: 10%;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    color: var(--white2);
}
.exp .max-width .left .line{
    content: '';
    background-color: var(--lpurple);
    height: 1px;
    width: 30%;
    margin-top: .5%;
    margin-left: 10%;
}
.exp .max-width .left .text-3{
    color: var(--white2);
    font-size: 20px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 1rem;
}
.exp .max-width .right{
    width: 50%;
}
.exp .max-width .right ol{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin-left: 2em;
    color: var(--purple);
    font-family: var(--sc), sans-serif;
}
.exp .max-width .right ol li{
    padding: 5% 10%;
    text-align: justify;
}
.exp .max-width .right ol li h5{
    color: var(--white2);
    font-family: var(--sc), sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 1rem;
}
.exp .max-width .right ol li p{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-top: 1rem;
} 


/************************************** 
 # Portfolio Design 
 **************************************/
.port{
    height: 100vh;
    padding: 100px 0;
}
.port .max-width{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.port .no-1{
    text-align: center;
    color: var(--purple);
    font-size: 60px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
}
.port .max-width .head-1{
    font-size: 50px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    color: var(--white2);
}
.port .max-width .line{
    content: '';
    background-color: var(--lpurple);
    height: 1px;
    width: 100px;
    margin: 0 auto;
}
.port .max-width .content p{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 2rem;
}
.port .max-width .content a{
    color: var(--white2);
    border: 1px solid var(--lpurple);
    background-color: var(--lpurple);
    font-family: var(--Av), sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-top: 3rem;
    padding: 12px 25px;
    transition: all .3s ease;
}
.port .max-width .content a:hover,
.port .max-width .content a:focus{
    color: var(--lpurple);
    border: 1px solid var(--lpurple);
    background: none;
} 


/************************************** 
 # Contact Design 
 **************************************/


.con{
    height: 100vh;
    padding: 100px 0;
}
.con .max-width{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.con .no-1{
    margin: 0 5rem;
    color: var(--purple);
    font-size: 60px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
}
.con .max-width .head-1{
    font-size: 50px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    color: var(--white2);
}
.con .max-width .line{
    content: '';
    background-color: var(--lpurple);
    height: 1px;
    width: 100px;
    margin-top: .5%;
    margin-left: 5%;
}
.con .max-width .left{
    width: 50%;
}
.con .max-width .left .text-4{
    padding-top: 2rem;
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 30px;
}
.con .max-width .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin-left: 5em;
    color: var(--purple);
    font-family: var(--sc), sans-serif;

}
.con .max-width .right li{
    padding: 5% 10%;
}
.con .max-width .right .specific {
    display: none;
}
.con .max-width .right li h5{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.con .max-width .right li p{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-top: 2%;
}

.con .max-width a{
    color: var(--white2);
    border: 1px solid var(--lpurple);
    background-color: var(--lpurple);
    font-family: var(--Av), sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 4%;
    padding: 8px 25px;
}


/************************************** 
 # Portfolio-Main Design 
 **************************************/


.display{
    height: 135vh;
    padding: 100px 0;
}
.display .max-width{
    display: flex;
    flex-direction: column;
    max-width: 90%;
}
.display .no-1{
    text-align: center;
    color: var(--purple);
    font-size: 60px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
}
.display .max-width .head-1{
    text-align: center;
    font-size: 50px;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    color: var(--white2);
}
.display .max-width .line{
    content: '';
    background-color: var(--lpurple);
    height: 1px;
    width: 100px;
    margin: 0 auto;
}
.display .max-width .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display .max-width .row .box {
    background-color: #52ad8e;
    padding: 1em;
    margin: 2rem;
    width: 90%;
}
.display .max-width .row .box .head-link .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.display .max-width .row .box .head-link .content i {
    font-size: 35px;
    color: var(--purple);
}

.display .max-width .row .box .head-link .content h6{
    font-family: var(--sc), sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--purple);
}
.display .max-width .row .box .container{
    padding: 5%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px 15px 10px 15px;
}
.display .max-width .row .box .container .text .h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display .max-width .row .box .container .text .h a{
    margin-left: -25%;
    color: var(--dblue);
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}
.display .max-width .row .box .container .text .h a:hover{
    color: var(--purple);
}
.display .max-width .row .box .container .text .h h4{
    color: var(--purple);
    font-size: 20px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
    margin-right: 90px;
}
.display .max-width .row .box .container .text h5{
    color: var(--purple);
    font-size: 20px;
    font-family: var(--sc), sans-serif;
    font-weight: 400;
}
.display .max-width .row .box .container .text p{
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-size: 16px;
    padding: 5%;
    line-height: 23px;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-align: justify;
}
.display .max-width .row .box .container .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display .max-width .row .box .container .links li{
    list-style: none;
}
.display .max-width .row .box .container .links li a{
    text-decoration: underline;
    color: black;
    font-family: var(--Av), sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}
.display .max-width .row .box .container .links li a:hover{
    color: var(--purple);
} 



/************************************** 
 # Footer Design 
 **************************************/

.foot{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: var(--black2);
}
.foot .max-width{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.foot .max-width .up{
    width: 100%;
}
.foot .max-width .up p{
    color: var(--white2);
    text-align: center;
    font-family: var(--Av), sans-serif;
    font-style: 18px;
    font-weight: 400;
}
.foot .max-width .up p a {
    font-size: 23px;
    font-weight: 400;
    color: var(--lpurple);
    display: inline-block;
}
.foot .max-width .up p a::after{
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    border-radius: 10px;
    background-color: var(--lpurple);
    transition: all .3s ease;
}
.foot .max-width .up p a:hover::after {
    width: 100%;
    height: 1px;
}
.foot .max-width .down{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.foot .max-width .down li{
    list-style: none;
    margin: .6rem auto;
}
.foot .max-width .down li a{
    font-size: 24px;
    color: var(--white);
    margin-left: 1rem;
    transition: all .3s ease;
}
.foot .max-width .down li a:hover,
.foot .max-width .down li a:focus{
    color: var(--lpurple);
}
.foot .max-width .down p{
    text-align: center;
    color: var(--white2);
    font-family: var(--Av), sans-serif;
    font-style: 17px;
    font-weight: 400;
} 






/************************************** 
 # Responsive Design 
 **************************************/

 @media only screen  and (min-width: 320px) and (max-width: 480px){


    .foot {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    body {
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }
    .arrow-up{
        display: none;
    }
    /* .links */

    .max-width {
        width: 50%;
        max-width: 900px;
        padding: 0 50px;
        margin: 0 auto;
    } 

    nav .max-width .logo{
        margin-right: 2rem;
        text-align-last: left;
    } 

    nav .max-width{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .max-width .links{
        padding-top: 20px;
        position: fixed;
        top: -900%;
        right: 0;
        background: var(--dblue);
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--dblue);
        height: 100vh;
        width: 99%;
    }
    nav .max-width .links li{
        margin-top: 80px; 
    }
    nav .max-width .links li a{
        font-size: 18px;
    }

    /* Menu and X-mark */

    .menu{
        display: block;
    }
    #cancel{
        display: block;
        font-size: 20px;
        color: var(--lpurple);
    }

    /* Social .links */

    aside{
        display: none;
    }

    /* Hero Section */

    
    .hero .max-width{
        z-index: -1;
    }
    .hero .max-width p{
        font-size: 20px;
    }
    .hero .max-width .about .h h2{
        font-size: 32px;
        margin-left: 0;
    }
    .hero .max-width .line{
        display: none;
    }
    .hero .max-width .about .text-1{
        font-size: 18px;
        text-align: center;
    }
    .hero .max-width .about .text-2{
        display: none;
    }


    /* Skills selection */

    .skills{
        height: 150vh;
    }
    .skills .max-width {
        flex-direction: column;
        text-align: center;
    }

    .skills .no-1 {
        font-size: 40px;
        padding: 1rem;
        text-align: center;
    }

    .skills .max-width .left {
        width: 100%;
    }

    .skills .max-width .left .head-1 {
        font-size: 30px;
    }

    .skills .max-width .left .line{
        margin: 0 auto;
        width: 40%;
    }
    .skills .max-width .left .text-3 {
        padding: 1rem;
        font-size: 20px;
    }

    .skills .max-width .right {
        width: 100%;
    }

    .skills .max-width .right ol {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        margin: .5rem 0;
    }

    .skills .max-width .right ol li {
        list-style: none;
        text-align: center;
    }

    .skills .max-width .right ol li h5 {
        font-size: 20px;
    }

    .skills .max-width .right ol li p {
        font-size: 20px;
    }


    /* Experience selection */

    .exp{
        height: 150vh;
    }
    .exp .max-width {
        display: flex;
        flex-direction: column;
    }

    .exp .no-1 {
        font-size: 40px;
        text-align: center;
    }

    .exp .max-width .left {
        width: 100%;
    }

    .exp .max-width .left .head-1 {
        font-size: 30px;
        text-align: center;
    }

    .exp .max-width .left .line {
        margin: 0 auto;
        width: 40%;
    }

    .exp .max-width .left .text-3 {
        text-align: center;
        padding: 1rem;
    }

    .exp .max-width .right {
        width: 100%;
    }

    .exp .max-width .right ol {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
    }

    .exp .max-width .right ol li {
        list-style: none;
        text-align: center;
    }

    .exp .max-width .right ol li h5 {
        color: var(--white2);
        font-family: var(--sc), sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 1rem;
    }

    .exp .max-width .right ol li p {
        color: var(--white2);
        font-family: var(--Av), sans-serif;
        font-size: 20px;
        font-weight: 300;
        padding-top: 1rem;
    }

    /* Portfolio section */


    .port{
        padding: 100px 0;
    }
    .port .max-width .no-1{
        font-size: 30px;
    }
    .port .max-width .head-1 {
        font-size: 30px;
    }
    .port .max-width .line {
        margin: 0 auto;
        width: 40%;
    }
    .port .max-width .row {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .port .max-width .content .btn{
        margin-top: 5%;
    } 


    /* Contact selection */

    .con{
        padding: 100px 0;
    }
    .con .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .con .max-width .left{
        width: 100%;
        text-align: center;
    }
    .con .max-width .right{
        width: 100%;
        text-align: center;
        margin: .5rem 0;
    }
    .con .max-width .right li{
        list-style: none;
    }
    .con .max-width .left .text-4{
        font-size: 20px;
    }
    .con .max-width .left .head-1{
        font-size: 20px;
    }
    .con .max-width .left .line{
        display: none;
    } 


    /* Portfolio Page */


   .display{
        padding: 100px 0;
        height: 100vh;
    }
    .display .max-width{
        display: flex;
        flex-direction: column;
    }
    .display .max-width .no-1 {
        font-size: 35px;
    }

    .display .max-width .head-1 {
        font-size: 30px;
        margin-bottom: 6%;
    }

    .display .max-width .line {
        display: none;
    }
    .display .max-width .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .display .max-width .row .box{
        margin-top: 10%;
    }
    
    .display .max-width .row .box .head-link .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
    }

    .display .max-width .row .box .head-link .content i {
        font-size: 23px;
    }

    .display .max-width .row .box .head-link .content h6 {
        font-size: 17px;
    }

    .display .max-width .row .box .container {
        padding: 5%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 20px 20px;
    }

    .display .max-width .row .box .container .text .h {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .display .max-width .row .box .container .text .h a {
        font-size: 16px;
    }

    .display .max-width .row .box .container .text .h a:hover {
        color: var(--purple);
    }

    .display .max-width .row .box .container .text .h h4 {
        margin-top: 5%;
        margin-bottom: 5%;
        display: none;
    }

    .display .max-width .row .box .container .text h5 {
        font-size: 17px;
        text-align: center;
    }

    .display .max-width .row .box .container .text .p-top {
        display: none;
    }
    .display .max-width .row .box .container .text .p-btm {
        font-size: 15px;
    }
    .display .max-width .row .box .container .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .display .max-width .row .box .container .links li {
        list-style: none;
    }

    .display .max-width .row .box .container .links li a {
        text-decoration: underline;
        color: black;
        font-family: var(--Av), sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .display .max-width .row .box .container .links li a:hover {
        color: var(--purple);
    } 
    
    /* Footer ::selection */
    .foot {
        position: absolute;
        right: 0;
        margin-bottom: -440%;
        left: 0;
    }

 }




 @media only screen and (min-width: 481px) and (max-width: 768px) {


    .max-width {
        width: 50%;
        max-width: 900px;
        padding: 0 50px;
        margin: 0 auto;
    }
        .arrow-up{
            position: fixed;
            right: 15%;
        }

     /* .links */


    nav .max-width {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    nav .max-width .links {
       padding-top: 20px;
       position: fixed;
       top: -900%;
       right: 0;
       background: var(--dblue);
       display: block;
       justify-content: center;
       align-items: center;
       text-align: center;
       background: var(--dblue);
       height: 100vh;
       width: 99%;
       z-index: 999;
    }
    nav .max-width .links li {
        margin-top: 80px;
    }
    nav .max-width .links li a {
        font-size: 18px;
    }


    /* Menu and X-mark */


    .menu {
        display: block;
    }
    #cancel {
        display: block;
        font-size: 20px;
        color: var(--lpurple);
    }


    /* Social .links */


    aside {
        display: none;
    }

    /* Hero Section */


    .hero .max-width {
        z-index: -1;
    }
    .hero .max-width p {
        font-size: 20px;
    }
    .hero .max-width h2 {
        font-size: 42px;
        margin-left: 0;
    }
    .hero .max-width .line {
        width: 50px;
    }
    .hero .max-width .about .text-1 {
        font-size: 15px;
        text-align: center;
    }
    .hero .max-width .about .text-2 {
        display: none;
    }


    /* Skills selection */


    .skills .max-width {
        flex-direction: column;
        text-align: center;
    }

    .skills .no-1 {
        padding: 2rem;
        text-align: center;
    }

    .skills .max-width .left {
        width: 100%;
    }

    .skills .max-width .left .head-1 {
        font-size: 30px;
    }

    .skills .max-width .left .line {
        display: none;
    }

    .skills .max-width .left .text-3 {
        padding: 1rem;
        font-size: 20px;
    }

    .skills .max-width .right {
        width: 100%;
    }

    .skills .max-width .right ol {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        margin: .5rem 0;
    }

    .skills .max-width .right ol li {
        list-style: none;
        text-align: center;
    }

    .skills .max-width .right ol li h5 {
        font-size: 20px;
    }

    .skills .max-width .right ol li p {
        font-size: 20px;
    }


    /* Experience selection */


    .exp {
        padding: 100% 0;
    }

    .exp .max-width {
        display: flex;
        flex-direction: column;
    }

    .exp .no-1 {
        padding: 2rem;
        text-align: center;
    }

    .exp .max-width .left {
        width: 100%;
    }

    .exp .max-width .left .head-1 {
        font-size: 30px;
        text-align: center;
    }

    .exp .max-width .left .line {
        display: none;
    }

    .exp .max-width .left .text-3 {
        text-align: center;
        padding: 1rem;
    }

    .exp .max-width .right {
        width: 100%;
    }

    .exp .max-width .right ol {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
    }

    .exp .max-width .right ol li {
        list-style: none;
        text-align: center;
    }

    .exp .max-width .right ol li h5 {
        color: var(--white2);
        font-family: var(--sc), sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 1rem;
    }

    .exp .max-width .right ol li p {
        color: var(--white2);
        font-family: var(--Av), sans-serif;
        font-size: 20px;
        font-weight: 300;
        padding-top: 1rem;
    }


     /* Portfolio ::selection */


     .port .max-width .no-1 {
        text-align: center;
        padding: 2rem;
     }

     .port .max-width .head-1 {
         font-size: 30px;
     }

     .port .max-width .line {
        display: none;
     }

     .port .max-width .content .btn {
        margin-top: 5%;
     } 

     /* Contact selection */


         .con {
             padding: 100px 0;
         }
         .con .no-1{
            text-align: center;
            padding: 2rem;
         }
         .con .max-width {
             display: flex;
             flex-direction: column;
             align-items: center;
         }
    
         .con .max-width .left {
             width: 100%;
             text-align: center;
         }
    
         .con .max-width .right {
             width: 100%;
             text-align: center;
             margin: .5rem 0;
         }
    
         .con .max-width .right li {
             list-style: none;
         }
    
         .con .max-width .left .text-4 {
             font-size: 20px;
         }
    
         .con .max-width .left .head-1 {
             font-size: 35px;
         }
    
         .con .max-width .left .line {
             display: none;
         }


     /* Portfolio Page */


     .display {
         height: 100vh;
     }

     .display .max-width {
         text-align: center;
     }

     .display .max-width .no-1 {
         font-size: 45px;
     }

     .display .max-width .head-1 {
         font-size: 40px;
         margin-bottom: 6%;
     }

     .display .max-width .line {
         display: none;
     }
    .display .max-width .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .display .max-width .row .box{
        margin-top: 10%;
    }

     .display .max-width .row .box .head-link .content {
         display: flex;
         padding: 3%;
     }

     .display .max-width .row .box .head-link .content i {
         font-size: 25px;
     }

     .display .max-width .row .box .head-link .content h6 {
         font-size: 18px;
     }

     .display .max-width .row .box .container {
         padding: 5%;
         border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;
         padding: 20px 15px 10px 15px;
     }

     .display .max-width .row .box .container .text .h {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         /* text-align: center; */
     }

     .display .max-width .row .box .container .text .h a {
         font-size: 16px;
     }

     .display .max-width .row .box .container .text .h a:hover {
         color: var(--purple);
     }

     .display .max-width .row .box .container .text .h h4 {
         font-size: 17px;
         margin-top: 5%;
         margin-bottom: 5%;
     }

     .display .max-width .row .box .container .text h5 {
         font-size: 17px;
     }

     .display .max-width .row .box .container .text .p-top {
        font-size: 17px;
     }

     .display .max-width .row .box .container .text .p-btm {
         font-size: 17px;
     }

     .display .max-width .row .box .container .links {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .display .max-width .row .box .container .links li {
         list-style: none;
     }

     .display .max-width .row .box .container .links li a {
         text-decoration: underline;
         color: black;
         font-family: var(--Av), sans-serif;
         font-weight: 400;
         font-size: 16px;
         /* text-align: center; */
     }

     .display .max-width .row .box .container .links li a:hover {
         color: var(--purple);
     }


    /* Footer ::selection */
    .foot {
        position: absolute;
        right: 0;
        margin-bottom: -320%;
        left: 0;
    }

 }




 @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .max-width {
        width: 50%;
        max-width: 900px;
        padding: 0 50px;
        margin: 0 auto;
    }


     /* .links */


     nav .max-width {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
     }

     nav .max-width .links {
        padding-top: 20px;
        position: fixed;
        top: -900%;
        right: 0;
        background: var(--dblue);
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--dblue);
        height: 100vh;
        width: 99%;
        z-index: 999;
     }

     nav .max-width .links li {
         margin-top: 80px;
     }

     nav .max-width .links li a {
         font-size: 18px;
     }

     /* Menu and X-mark */

     .menu {
         display: block;
     }

     #cancel {
         display: block;
         font-size: 20px;
         color: var(--lpurple);
     }

     /* Social .links */

     aside {
         display: block;
     }

     /* Hero Section */

    .hero{
        height: 100vh;
    }
     .hero .max-width {
         z-index: -1;
     }

     .hero .max-width p {
         font-size: 20px;
     }

     .hero .max-width h2 {
         font-size: 45px;
     }

     .hero .max-width .line {
         display: none;
     }

     .hero .max-width .text-1 {
         display: none;
     }

     .hero .max-width .text-2 {
        font-size: 18px;
        text-align: center;
     }


     /* Skills selection */


    .skills .max-width {
        flex-direction: column;
        text-align: center;
    }

    .skills .no-1 {
        font-size: 45px;
        padding: 1rem;
        text-align: center;
    }

    .skills .max-width .left {
        width: 100%;
    }

    .skills .max-width .left .head-1 {
        font-size: 35px;
    }

    .skills .max-width .left .line {
        display: none;
    }
    .skills .max-width .left .text-3 {
        padding: 1rem;
        font-size: 20px;
    }

    .skills .max-width .right {
        width: 100%;
    }

    .skills .max-width .right ol {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        margin: .5rem 0;
    }

    .skills .max-width .right ol li {
        list-style: none;
        text-align: center;
    }

    .skills .max-width .right ol li h5 {
        font-size: 20px;
    }

    .skills .max-width .right ol li p {
        font-size: 20px;
    }

     /* Experience selection */

    
         .exp .max-width {
             display: flex;
             flex-direction: column;
         }
    
         .exp .no-1 {
             font-size: 45px;
             text-align: center;
         }
    
         .exp .max-width .left {
             width: 100%;
         }
    
         .exp .max-width .left .head-1 {
             font-size: 35px;
             text-align: center;
         }
    
         .exp .max-width .left .line {
             display: none;
         }
    
         .exp .max-width .left .text-3 {
             text-align: center;
             padding: 1rem;
         }
    
         .exp .max-width .right {
             width: 100%;
         }
    
         .exp .max-width .right ol {
             display: flex;
             flex-direction: column;
             margin: .5rem 0;
         }
    
         .exp .max-width .right ol li {
             list-style: none;
             text-align: center;
         }
    
         .exp .max-width .right ol li h5 {
             color: var(--white2);
             font-family: var(--sc), sans-serif;
             font-size: 20px;
             font-weight: 400;
             padding-top: 1rem;
         }
    
         .exp .max-width .right ol li p {
             color: var(--white2);
             font-family: var(--Av), sans-serif;
             font-size: 20px;
             font-weight: 300;
             padding-top: 1rem;
         }

     /* Portfolio ::selection */

     .port .max-width .no-1 {
         font-size: 35px;
     }

     .port .max-width .head-1 {
         font-size: 30px;
     }

     .port .max-width .line {
         display: none;
     }

     .port .max-width .content .btn {
         margin-top: 5%;
     }

     /* Contact selection */

    .con {
        padding: 100px 0;
    }

    .con .no-1 {
        text-align: center;
        padding: 2rem;
    }

    .con .max-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .con .max-width .left {
        width: 100%;
        text-align: center;
    }

    .con .max-width .right {
        width: 100%;
        text-align: center;
        margin: .5rem 0;
    }

    .con .max-width .right li {
        list-style: none;
    }

    .con .max-width .left .text-4 {
        font-size: 20px;
    }

    .con .max-width .left .head-1 {
        font-size: 35px;
    }

    .con .max-width .left .line {
        display: none;
    }

     /* Portfolio Page */


     .display {
        height: 80vh;
     }

    /* .display .max-width {
        max-width: 90%;
    } */

     .display .max-width .no-1 {
         font-size: 35px;
     }

     .display .max-width .head-1 {
         font-size: 30px;
         margin-bottom: 6%;
     }

     .display .max-width .line {
         display: none;
     }

     .display .max-width .row {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
     }

     .display .max-width .row .box {
         display: block;
         align-items: center;
         justify-content: space-between;
         background-color: #52ad8e;
         padding: .3%;
         margin-top: 10%;
         width: 300px;
         height: 470px;
     }

     .display .max-width .row .box .head-link .content {
         display: flex;
         padding: 3%;
     }

     .display .max-width .row .box .head-link .content i {
         font-size: 25px;
     }

     .display .max-width .row .box .head-link .content h6 {
         font-size: 18px;
     }

     .display .max-width .row .box .container {
         padding: 5%;
         border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;
         padding: 20px 15px 10px 15px;
     }

     .display .max-width .row .box .container .text .h {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         text-align: center;
     }

     .display .max-width .row .box .container .text .h a {
         font-size: 16px;
     }

     .display .max-width .row .box .container .text .h a:hover {
         color: var(--purple);
     }

     .display .max-width .row .box .container .text .h h4 {
         margin-top: 5%;
         margin-bottom: 5%;
         display: none;
     }

     .display .max-width .row .box .container .text h5 {
         font-size: 17px;
     }

     .display .max-width .row .box .container .text .p-top {
        font-size: 17px;
     }

     .display .max-width .row .box .container .text .p-btm {
         font-size: 17px;
     }

     .display .max-width .row .box .container .links {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .display .max-width .row .box .container .links li {
         list-style: none;
     }

     .display .max-width .row .box .container .links li a {
         text-decoration: underline;
         color: black;
         font-family: var(--Av), sans-serif;
         font-weight: 400;
         font-size: 16px;
         text-align: center;
     }

     .display .max-width .row .box .container .links li a:hover {
         color: var(--purple);
     }

         /* Footer ::selection */
         .foot {
             position: absolute;
             right: 0;
             margin-bottom: -320%;
             left: 0;
         }

     

 }